TestJAXB/src/booking.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="booking">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:int" name="contact"/>
        <xs:element type="xs:dateTime" name="startDate"/>
        <xs:element type="xs:dateTime" name="endDate"/>
        <xs:element type="xs:string" name="addr"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>